body {
  font-family: "Roboto Mono", monospace;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #11111d;
}

.calculator {
  background: #2f2f49;
  padding: 20px 10px;
  width: 420px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.display {
  background: #9ea992;
  border: 2px solid black;
  width: 400px;
  padding: 5px;
  min-height: 100px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  word-break: break-all;
}

.memory {
  font-size: 18px;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.main {
  font-size: 36px;
  flex-grow: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.buttons {
  width: 400px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 15px 15px;
}

button {
  color: #d5cac6;
  background: #262640;
  font-size: 18px;
  border: 2px solid black;
  border-radius: 6px;
  height: 60px;
}

[data-type=clear] {
  grid-column-start: 1;
  grid-column-end: 3;
}

[data-type=del] {
  grid-column-start: 3;
  grid-column-end: 5;
}
